/* body {
  background-color: #17252A;
  color: whitesmoke;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20vh 20vw;
}

.card {
  padding-bottom: 3vh;
  text-align: center;
  min-height: 80vh;
  min-width: fit-content;
  padding: 5vh;
  margin-bottom: 5rem;
  border-radius: 3vh;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.589);
  color: #DEF2F1;
  background-color: #17252A;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.card:hover {
  box-shadow: 0 8px 20px #3AAFA9,
  0 0 20px rgba(143, 199, 198, 0.5);
  transform: translate(-20px, -20px);
}

#menu-button {
  color: #DEF2F1;
  background-color:#17252A;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin-top: 50vh;
}

#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

#nav-bar {
 height: 0;
 width: 100px;
 position: absolute;
 top: 80px;
 border-radius: 8px;
}

.nav-links {
  color: #DEF2F1;
  display: block;
  padding: 0.8rem;
  text-align: center;
  border: 1px solid #DEF2F1;
  margin: 5px 0;
  border-radius: 4px;
  text-decoration: none;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.nav-links:hover {
  background-color: #DEF2F1;
  color: #17252A;
  border-color: #3AAFA9;
}

#nav-container.open #nav-bar {
  height: fit-content;
  width: fit-content;
}

#profile-image {
  height: 6em;
  width: 6em;
  border-radius: 65%;
  margin-bottom: 2rem;
}

.card-image {
  width: 35em;
  border-radius: 10px;
  min-height: 50vh;
  margin-bottom: 3rem;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5% 1%;
  margin-bottom: 5vh;
  background-color: #3AAFA9;
  color: #17252A;
  text-decoration: none;
  min-width: 4rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #DEF2F1;
  color: #17252A;
}


.button-project {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 3%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: #3AAFA9;
  color: #17252A;
  text-decoration: none;
  min-width: 6rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s;
}

.button-project:hover {
  background-color: #DEF2F1;
  color: #17252A;
}

#linkedin-tag {
  padding: 10px 20px;
  background-color: #3AAFA9;
  color: #17252A;
  text-decoration: none;
  min-width: 4rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s; 
}

#linkedin-tag:hover {
  background-color: #DEF2F1;
  color: #17252A;
}

#profile-card {
  color: #DEF2F1;
  background-color: #17252A;
  border-radius: 3vh;
  padding: 5vh;
  max-width: 40vw;
  min-height: 80vh;
  margin: auto;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

h1 {
  color: #3AAFA9;
}

#profile-card:hover {
  box-shadow: 0 8px 20px #3AAFA9,
  0 0 20px rgba(143, 199, 198, 0.5);
  transform: translate(-20px, -20px);
}

@media only screen and (max-width: 768px) {

  body {
    padding: 10vh 10vw;
  }

  h1, p, h5, a {
    font-size: 1.5rem;
  }



  .card, #profile-card {
    max-width: 100%;
    margin: 0 auto;
    min-width: 40rem;
    min-height: auto;
    padding: 1vw;
  }

  #nav-container {
    position: static;
  }

  .nav-links {
    display: block;
  }

  .card-image #profile-image {
    width: auto;
    max-width: 100%;
    height: auto;
  }

  #nav-bar {
    max-width: 100%;
  }
}
 */


 body {
  background-color: #17252A;
  color: #DEF2F1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20vh 20vw;
}


#profile-image {
  width: 40%;
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: 4vh;
}

.card-image {
  width: 100%;
  height: auto;
  margin-top: 4vh;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.card p {
  margin-top: 4rem;
  max-width: 55rem;
}

.card h1 {
  color: #3AAFA9;
}

.card {
  padding: 3rem;
  font-size: 0.9rem;
  width: 100%;
  min-height: 40vh;
  text-align: center;
  border-radius: 3vh;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.589);
  color: #DEF2F1;
  background-color: #17252A;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
  margin-bottom: 15rem;
}

.card:hover {
  box-shadow: 0 8px 20px #3AAFA9,
  0 0 20px rgba(143, 199, 198, 0.5);
  transform: translate(-20px, -20px);
}

.projects-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 100%;
}

#profile-main-title {
  font-size: 500%;
  position: relative;
  margin-bottom: 15rem;
  transition: color 0.7s ease-in-out;
}


#profile-main-title:hover {
  color: #3AAFA9;
}

#profile-main-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 1px;
  background-color: #DEF2F1;
  opacity: 0;
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.6s ease-in-out;
}

#profile-main-title:hover::after {
  width: 100%;
  opacity: 1;
  box-shadow:  0 0 10px #DEF2F1, 0 0 20px #DEF2F1;
}


#project-main-title {
  font-size: 500%;
  position: relative;
  margin-bottom: 15rem;
  transition: color 0.7s ease-in-out;
}


#project-main-title:hover {
  color: #3AAFA9;
}

#project-main-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 0%;
  height: 1px;
  background-color: #DEF2F1;
  opacity: 0;
  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.6s ease-in-out;
}

#project-main-title:hover::after {
  width: 100%;
  opacity: 1;
  box-shadow:  0 0 10px #DEF2F1, 0 0 20px #DEF2F1;
}


#profile-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  width: 100%;
}


.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 2% 1%;
  margin-bottom: 1rem;
  background-color: #3AAFA9;
  color: #DEF2F1;
  text-decoration: none;
  min-width: 4rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s;
}

.button:hover {
  background-color: #DEF2F1;
  color: #17252A;
}


.button-project {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 3%;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: #3AAFA9;
  color: #DEF2F1;
  text-decoration: none;
  min-width: 6rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s;
}

.button-project:hover {
  background-color: #DEF2F1;
  color: #17252A;
}

#linkedin-tag {
  padding: 10px 20px;
  background-color: #3AAFA9;
  color: #DEF2F1;
  text-decoration: none;
  min-width: 4rem;
  border-radius: 1vh;
  text-align: center;
  transition: background-color 0.4s; 
}

#linkedin-tag:hover {
  background-color: #DEF2F1;
  color: #17252A;
}

#contact-me {
  margin-bottom: 2rem;
}

#email {
  margin-top: 3rem;
}

#profile-card {
  color: #DEF2F1;
  background-color: #17252A;
  border-radius: 2rem;
  width: 95%;
  padding: 1vh 1vw;
  transition: box-shadow 0.4s ease-in-out, transform 0.4s ease-in-out;
}

#profile-card h1 {
  color: #3AAFA9;
}

#profile-card:hover {
  box-shadow: 0 8px 20px #3AAFA9,
  0 0 20px rgba(143, 199, 198, 0.5);
  transform: translate(-20px, -20px);
}


#menu-button {
  color: #DEF2F1;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}


#nav-bar {
 width: 100%;
 position: absolute;
 top: 90%;
 left: 1.3rem;
 overflow: hidden;
 max-height: 0;
 border-radius: 8px;
 transition: max-height 0.8s ease-in, max-height 0.8s ease-out;
}

#nav-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}

#nav-container.open #nav-bar{
  max-height: 20em;
}

.nav-links {
  color: #DEF2F1;
  display: block;
  padding: 0.8rem;
  text-align: center;
  border: 1px solid #DEF2F1;
  margin: 5px 0;
  border-radius: 4px;
  text-decoration: none;
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}


.nav-links:hover {
  background-color: #DEF2F1;
  color: #17252A;
  border-color: #3AAFA9;
}


@media (max-width: 768px) {
  body {
    font-size: 0.8rem;
    position: relative;
    z-index: 0;
  }


  #menu-button {
    position: relative;
    z-index: -1;
  }

  .card img {
    width: 100%;
    height: 16rem;
  }

  .card {
    padding: 8px;
    margin: 10px 0 8rem 0;
    width: 145%;
    margin-bottom: 20vh;
    position: relative;
    z-index: 2;
  }

  .card:hover {
    transform: none;
  }

  .button-project {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #3AAFA9;
    color: #DEF2F1;
    border: #DEF2F1 1px solid;
  }

  .button-project:hover {
    color: #3AAFA9;
    background-color: #17252A;
    border: #3AAFA9 1px solid;
  }

  .projects-list {
    margin-top: 4rem;
    padding: 0;
  }

  #profile-card-container {
    margin-top: 8vh;
  }

  #profile-card {
    width: 145%;
    margin: 10px 0 8rem 0;
    position: relative;
    z-index: 2;
  }

  #profile-card:hover {
    transform: none;
  }

  #profile-main-title {
    font-size: 300%;
    margin-bottom: 5rem;
    transition: color 0.4s ease-in-out;
  }

  #profile-main-title::after {
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  }

  #project-main-title {
    font-size: 300%;
    margin-bottom: 5rem;
    transition: color 0.4s ease-in-out;
  }

  #project-main-title::after {
    transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, width 0.3s ease-in-out;
  }
  
  #nav-container {
    position: fixed;
    z-index: 1;

  }
  

  #linkedin-tag {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #3AAFA9;
    color: #DEF2F1;
    border: #DEF2F1 1px solid;
  }
  
  #linkedin-tag:hover {
    color: #3AAFA9;
    background-color: #17252A;
    border: #3AAFA9 1px solid;
  }


}